:root {
    --input-padding: 0.5rem;
    --input-font-size: 1.1rem;
    --input-width: 30rem;

    --label-margin: 0.5em;
    --label-font-size: 20px;
    --label-color: white;

    --box-shadow-valid: 3px 3px 3px black;
}

fieldset {
    background-color: rgba(22, 22, 72, 0.478);
}

#message{
    margin-top: 25px;
    background-color: rgba(0, 0, 0, 0.815);
    color: white;
    padding: 1rem;
    font-family: 'Courier New', Courier, monospace;
    display: block;
}

input {
    display: block;
    padding: var(--input-padding);
    font-size: var(--input-font-size);
    width: var(--input-width);
}

label {
    display: block;
    margin: var(--label-margin);
    font-size: var(--label-font-size);
    color: var(--label-color);
}

textarea {
    display: block;
    padding: var(--input-padding);
    font-size: var(--input-font-size);
    width: var(--input-width);
    margin: var(--label-margin);
}

textarea:valid {
    box-shadow: var(--box-shadow-valid);
    font-family: 'Times New Roman', Times, serif;
}

#form-main {
    display: flex;
    justify-content: center;
    align-items: center;
}

form {
    text-align: left;
    max-width: 600px;
    width: 100%;
    padding: 20px;
}

@media screen and (max-width: 600px) {
    form {
        padding: 15px;
    }

    #form-main label {
        font-size: var(--label-font-size);
    }
}
