body {
    margin: .5rem;
    padding: .5rem;
    font-family: 'Lato', Helvetica, Arial, sans-serif;
    font-size: 16px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Montserrat', sans-serif;
}

.banner_header {
    flex-direction: column;
    text-align: center;
    background-color: #114C50;
    color: #ffffff;
    justify-content: center;
    padding: 4rem;
    border-radius: 1rem;
}



.mainContainer {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 20px;
    font-size: 0.8rem;
    padding-top: 2rem;
}

footer {
    background-color: #130106;
    color: #ffffff;
    text-align: center;
    padding: 1rem;
    border-radius: 1rem;
    font-size: .9rem;
    margin-top: 2rem;
}

.footer span {
    text-decoration: underline;
}

footer a {
    text-decoration: none;
    color: #ffffff;
    text-transform: uppercase;
}


* {
    box-sizing: border-box;
}

.card {
    background-color: #EBEBEB;
    max-width: 100%;
    border: #333333 solid 5px;
    border-radius: 2rem;
    justify-self: center;
   
}

.card h2 {
    background-color: #1b7e85;
    display: block;
    border-radius: 2rem;

    padding: 10px 10px;
    text-align: center;
    color: #f7f7f7;
    width: 100%;
    height: 5%;
    margin-top: -0.1%;
}

.card h3 {
    text-align: center;
}

.card img {
    width: 90%;
    height: auto;
    display: block;
    margin: 0 auto;
}

.card a {
    background: #114c50;
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    padding: 10px;
    display: block;
    margin: 10px auto;
    width: 50%;
    text-align: center;
    /* border-radius: 100px; */
}

.card ~ p {
    text-align: justify;
  
    padding: 0px 10px; 
    line-height: 1.4rem;
    font-size: 1.2rem;
    text-align: center;
}