html {
    background-color: #ffffff;
}

main {
     margin: 0 0 0 20px;
}

header {
    display: grid;
    grid-template-columns:  1fr;
    padding: 20px;
     background-color: rgba(245, 245, 220, 0.355); 
    /* background-color: #42515A; */
    align-items: center;
    box-shadow: 0px 0px 10px 2px white;
    text-align: center;
    width: 100%;
    margin: 0px;

}

header h1   {
    color:rgb(83, 76, 67);
    font-size: 25px;
    font-family: Garamond, Roboto, Arial, sans-serif;
}

header h2   {
    color:#ffffff;
    font-size: 15px;
    font-family: Lexend Deca, Roboto, Arial, sans-serif;
}

nav {
    display: flex;
    flex-direction: column;
 
    background-color: #175846;
        min-height: 90px;


}

nav a {

    color: white;
    text-decoration: none;
    cursor: pointer;      /* Show a pointer cursor on hover */
    list-style-type: none;      /* Remove underline from links */
    min-height: 50px;
    padding: 20px;
}

nav  a:hover {
    color: blue;

}

nav ul  {
    list-style: none;
}

h3 {
    font-size: 15px;
    font-family: Lexend Deca, Roboto, Arial, sans-serif;
}

.Logo {
    height: 300px;
}









/*  Footer section */
footer {
    background-color: #222222;
    color: white;
    padding: 20px;
    text-align: center;
    margin-top: 50px;
}

footer a {
    color: white;
    text-decoration: none;
    /* Add underline when hovering */
}

#footer-copy-right-name {
    font-variant-caps: all-small-caps;
    font-size: 22px;
}

footer p {
    font-family: Roboto, Arial, sans-serif;
    font-size: 20px;
    padding: 5px;
}






