@media (min-width:1200px) {

    main {
        display: grid;
        /* grid-template-columns: repeat(2, 1fr); */
    }

    .card h2 {
        font-size: 1.2rem;
    }

    .card {
        padding: 20px;
        margin: 0%;
        margin-bottom: 15px;

    }

    nav {
        min-height: 20px;
        height: 20px;
        padding-bottom: 20px;
    }

   nav ul {
    flex-direction: row;
    /* word-spacing: 15px; Adjust the value as needed to control the spacing */
    /* justify-content: space-between; */

   }


}