/* To change the colors */
:root {
    --text-color: black;
    --background-color: #ffffff;
    --hover-background-color: rgb(102, 167, 102);
    --hover-color: black;
    --header-background-color: rgba(245, 245, 220);
    /* Updated to the specified background color */
}

/* alt text is too large in view port, should image be broken */

img#logoImage {
    font-size: 10px;
}

#s3 img {
    width: 100%;
}

/* ---------------------------- */

header {
    background-color: var(--header-background-color);
    color: var(--header-color);
    /* Applying the header color */
}

/* ---------------------------- */
#dark-mode {
    position: absolute;
    top: 1rem;
    right: 2rem;
    background-color: var(--background-color);

}

* {
    box-sizing: border-box;
}



/* html {
   --- refer to root element/ this was updated to root---
    background-color: #ffffff;

} */

main {
    display: grid;
    grid-template-columns: 1fr;
    /* margin: 40px 5px 0 5px; */
}


header {
    display: flex;
    padding: 0px;
    /* background-color: rgba(245, 245, 220); this is now in the root */
    box-shadow: 0px 0px 10px 2px white;
    /* text-align: center; */
    width: 100%;
    margin: 0px;
    justify-content: center;
    align-items: center;

}


.hero_image {
    height: 100%;
    width: 100%;
}

.hero-section {
    position: relative;
    height: fit-content;

}

.hero-content p {
    position: absolute;
    top: 100px;
    left: 200px;
}

.hero-content button {
    position: absolute;
    /* top: 230px; */
    top: 20px;
    left: 200px;
    /* background-color: #eaef94d5; */
    background-color: #5d5e57d5;

    /* height: 50px; */
    font-size: 15px;


}

.callout-time {
    font-size: 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #333333c0;
}

#homepage-phrase-Container {
    width: 100%;
}

#s6 img {
    width: 100%;
}

#s5 img {
    width: 100%;
}

.hero-section p {
    position: absolute;
    color: #ffffffbb;
    font-size: 30px;
    text-decoration-line: underline;
    font-family: 'Montserrat', sans-serif;
    font-weight: bolder;
    z-index: 1;

}

div.card.box h3 {
    font-size: 40px;

}

header h1 {
    color: rgb(83, 76, 67);
    font-size: 15px;
    font-weight: bolder;
    font-family: Garamond, Roboto, Arial, sans-serif;
}

h2 {
    color: #4e565b;
    font-size: 20px;
    font-family: Arial, sans-serif;
    text-align: center;
    margin-top: 15px;
}

nav {
    padding-top: 1px;
    background-color: #175846;
    width: 100%;
    grid-column: 1/3;
    text-transform: uppercase;
    padding-bottom: 3%;
}

nav ul {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

nav a {

    color: white;
    text-decoration: none;
    /* cursor: pointer; */
    /* Show a pointer cursor on hover */
    list-style-type: none;
    /* Remove underline from links */
    min-height: 50px;
    padding: 20px;
}

nav a:hover {
    color: rgb(0, 255, 174);

}

nav ul {
    list-style: none;

}

h3 {
    font-size: 15px;
    /* color: 43626a; */
    font-family: Lexend Deca, Roboto, Arial, sans-serif;
}

p {
    font-size: 15px;
    font-family: times New Roman, Arial, sans-serif;
}

.logo2 {
    height: 100px;

}

/* Remove margin from the last item to avoid extra spacing on the right */
nav ul:last-child {
    margin-right: 0;

}

.card {
    background-color: #EBEBEB;
    border: #333333 5px;
    border-radius: 2rem;
    /* justify-self: center; */
    /*  use to center item*/
    /* padding: 20px; */
    margin: 0%;
    margin-bottom: 15px;
    gap: 35px;
}

/* This is to add padding to specificic elements */
.card-padding {
    padding: 20px;
}

.box {
    display: flex;
    justify-content: space-evenly;
    margin-top: 0;
    background-color: #1758466d;
    border: #333333 solid 3px;
    /* border-radius: 2rem; */
    justify-self: center;
    /*  use to center item*/
    /* padding: 20px; */
    margin-bottom: 0px;
    padding-top: 0px;
    text-align: center;
    align-items: center;
    border-left: #175846 solid 3px;
}

.Chef-image {
    border-radius: 2rem;
    padding-top: 31px;

}

.homepage-h3-headings {
    font-size: 30px;
    text-align: center;
    font-weight: 500;
}

.homepage-card-paragraph {
    font-size: 20px;
}

.homepage-card-paragraph::first-letter {
    font-size: 1.5em;
}


div#homepage-phrase-Container {
    display: flex;
}

#homepage-phrase-Container {
    /* background-color: aliceblue; */
    align-items: center;
    width: 100%;
}

.cent-paragraph {
    text-align: center;
    padding: 0px;
}

.lisa-ann-image {
    width: 100%;
    border-radius: 2rem;
    /* cursor: pointer; */
    transition: transform 0.8s, box-shadow 0.9s;
}



.homepage-phrase-h3 {
    font-size: 60px;
    color: red;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

/* .bold  {
font-weight: bold;
color: #175846;

} */


/*  Footer section */
footer {
    display: grid;
    background-color: #222222;
    color: white;
    padding: 20px;
    /* text-align: center; */
    margin-top: 50px;
}

footer a {
    color: white;
    text-decoration: none;
    /* Add underline when hovering */
}

#footer-copy-right-name {
    /* font-variant-caps: all-small-caps; */
    font-size: 15px;
    text-decoration: none;
    color: white;
    font-family: 'Times New Roman', Times, serif;

}

footer p {
    font-family: 'Times New Roman', Times, serif;
    /* padding: 5px; */
    /* font-size: 20px; */
}

/** Hamburger Menu Stuff **/

.menu-hide,
.menu-show {
    display: none;
    background-color: white;
    border: 1px solid grey;
    /* margin: 10rem 0 0 .5rem; */

}

.menu-hide.showing,
.menu-show.showing {
    display: block;
}

#nav-menu {
    display: none;
}

#nav-menu.showing {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-items: normal;

}


.footer-logo {
    height: 150px;
    /* padding: 50px; */
}

.sub-footer-container {
    padding-top: 1px;
    background-color: #000000fb;
    text-align: center;
    display: flex;
    height: 50px;
    width: 100%;
    justify-content: center;
    align-items: center;
    /* font-weight: bold; */
    color: #ffffff;
    font-size: 15px;
    font-family: 'Times New Roman', Times, serif;
}

/* Discover page CSS */

.discoverMainColumn2,
h2 {
    text-align: left;
}

.discoverMainColumn2 p {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 15px;
}

.cent-paragraph_Discover-page {
    text-align: center;
    padding: 0px;
    margin: 35px;
    font-family: Arial, sans-serif;
    font-size: 25px;
    color: #4e565b;
    font-weight: bold;
}



#message {
    color: white;
    text-align: center;
    font-weight: bold;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
}

.discoverMessageContainer1 h3 {
    font-size: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    background-color: #175846;
    padding: 65px;
    margin: 0px;
    color: white;
}


.discoverMessageContainer1 ul li {
    color: black;
    font-family: 'Times New Roman', serif;
    font-size: 1.5rem;
    gap: 50px;
}

.discoverMain p {
    font-size: 18px;
}

.discoverMain h2 {
    font-size: 15px;
    font-weight: bold;

}

.discoverMain hr {
    width: 20%;
    /* border: 0; */
    background-color: #175846;
    height: 5px;
    /* line the thickness */
    margin: 1px;

}

.discoverMessageContainer1,
.discoverMessageContainer2,
.discoverMessageContainer3,
.discoverMessageContainer4 {
    margin-bottom: 20px;
}

.discoverMessageContainer1 {
    background-color: rgb(141, 175, 138);
    border: #333333 inset 1px;
    padding: 35px;
}

/* Additional styling for the sidebar */
.discoverMessageContainer {
    color: black;
}


/*** Join page styles ***/

.join {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));
}

main#join-main {
    display:inherit;
    max-width: 1200px;
    /* margin: 0 auto;   */
}

.join>div {
    margin: 1rem;
    padding: 1rem;
    border: 1px black solid;
    border-radius: 5px;
    width: 95%;
    min-width: 400px;
    background-color: rgba(245, 245, 220);
}

label.myinput {
    display: block;
    padding-top: 1rem;
}

label.myinput input,
label.myinput textarea {
    display: block;
    font-size: 1.2rem;
    padding: .5rem;
    width: 20rem;
    max-width: 20rem;
}

label.myradio {
    display: block;
    margin-right: .2rem;
    font-size: 1.3rem;
    padding-top: .5rem;
}

label.myradio input {
    margin-right: 1rem;
}

.mysubmit {
    background-color: #000;
    color: white;
    margin: 1rem 0 0 0;
    padding: .5rem;
    font-size: 1.5rem;
}

label.myinput input:required {
    border-color: #922;
}

input:valid {
    background-color: #17584621;
}

input:invalid {
    background-color: #17584621;
}

.join-confirm {
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: center;
}

#thankyou-main h1,
#thankyou-main p {
    text-align: center;
    margin: 1px 0 0 0; 
    padding: 1rem 0;
}

#thankyou-main h1 {
    font-weight: bold;
}

#thankyou-main {
    display: inherit;
}

/* Directory page CSS */ 
  .directory-main{
display: inherit;
    width: 100%;
}

.directory-main img{
    width: 100%;
    
}

#directory-selector{
    width: 100%;
    text-align: center;
}

#directory-selector button{
    padding: 1rem;
    margin: .5rem;
    border-radius: 5px;
    background-color: var(--body-bg-color);
    border: 1px black solid; 
} 

#directory-selector button.active{
    background-color: var(--hover-background-color);
}

/* Cards view */

.directory-cards{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    justify-items: center;

}

.directory-cards section{
    text-align: center;    
    border: 2px solid grey;    
    width: 300px;
    background-color: var(--menu-bg-color);
    padding: 1rem;
    margin: .5rem;
}

.directory-cards section{
    box-shadow: .5rem .5rem .5rem var(--hover-background-color);
}


/* .directory-cards .gold-member{
    box-shadow: .5rem .5rem .5rem gold;
} */

.directory-cards .card-button{
    text-decoration: none;
    color: white;
    background-color: var(--hover-background-color);
    padding: .5rem;
    border-radius: 5px;

}

/* List View */

.directory-list{    
    display: grid;    
    justify-items: center;   
    padding: 1rem;    
}

.directory-list section img{
    display: none;
}

.directory-list section {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    width: 85%;
    padding-left: 1rem;
    padding-right: 1rem;
}

.directory-list .card-button{
    text-decoration: underline;
    color: black;    
}


.directory-list section:nth-child(odd) {
    /* background-color: var(--background-color); */
    background-color: #EBEBEB;
}

.directory-list section:nth-child(even) {
    /* background-color: var(--hover-background-color) */
    background-color: rgba(68, 95, 68, 0.548)
}

