@import url('https://fonts.googleapis.com/css?family=Open+Sans');

html {
  background: #1f6d37;
}

.sidebar {
  position: fixed;
  width: 25%;
  height: 100vh;
  background: #c5d3c1;
  font-size: 0.65em;
}
    



