@media screen and (min-width: 1200px) {  
  /* header {
    font-size: 100px;
  } */

  header h1 {
    font-size: 25px;
  }

  #footer-image-container {
    justify-self: end;
  }

  .footer-logo {
    height: 250px;
    padding: 50px;
  }

  .hero-section p {
    font-size: 60px;
  }

  .homePage-Main {
    grid-template-columns: 400px  auto-fit;
    grid-template-rows: auto;
    gap: 20px;
  }

jamaica_mapContainer {
  width: 100%;
  }

  #event {
    grid-column: 1/2;
    grid-row: 2/3;
}

.jamaica_mapContainer {
  grid-column: 1/4;
}

  /* div#homepage-phrase-Container {
    width: 100%;
  } */

  .homepage-phrase-h3 {
    grid-column: 2/3;
    grid-row: 2/3;
    }

  #homepage-phrase-Container {
    text-align: center; 
  }

div#homepage-phrase-Container {
    grid-column: 2/4;
    grid-row: 2/3;
  }

    img.footer-logo {
    height: 250px;
  }
  
  img#logoImage.logo2 {
    height: 100px;
  }


  .collage {
    height: auto;
  }


    /* Add some basic styling for the columns */
    .column {
      float: left;
      width: 33.33%;
      box-sizing: border-box;
      padding: 10px;
    }
  
    /* Clear floats after the columns */
    .column:after {
      content: "";
      display: table;
      clear: both;
    }



  #weather-Container {
    grid-column: 1/2;
    grid-row: 1/2;
  }

  .card h2 {
    font-size: 1.2rem;
  }

  .card {
    margin: 0%;
    /* margin-bottom: 15px; */
  }

  nav {
    min-height: 20px;
    /* height: 20px; */
    /* padding-bottom: 20px; */
    margin: 0 auto;2
    padding-bottom: 3px;
  }

  nav a {
    cursor: pointer;
  }

  .callout-time {
    font-size: 40px;
  }

  .directory-main {
    display: inherit; 
    width: 100%;
  }

  nav ul {
    flex-direction: row;
    /* word-spacing: 15px; Adjust the value as needed to control the spacing */
    /* justify-content: space-between; */
  }

  #homepage-phrase-Container {
    grid-column: 3/4;
    grid-row: 3/4;
  }

  #homepage-phrase-Container h3 {
    font-size: 60px;
    color: brown;
  }

  /* .temperatureHolder {
    display: flex;
    justify-content: space-around;
  } */

  footer {
    grid-template-columns: repeat(4, 1fr);
  }

  .sub-footer-container {
    font-size: 20px;
  }

  .sub-footer {
    grid-column: 1/5;
    grid-row: 2/3;
  }

  .menu-show,
  .menu-hide,
  .menu-show.showing,
  .menu-hide.showing {
    display: none;
  }

  #nav-menu {
    display: flex;
    margin-top: 40px;
  }

  .hero-content button {
    top: 600px;
  }

  /* #s3 img {
    width: 600px;
  } */


  #nav-menu {
    /* padding: 0; */
    margin: 15px;
  }

  #nav-menu li {
    display: inline;
    margin-right: 20px;
  }

  /* #nav-menu a {
  text-decoration: none;
  color: #333;
} */

  /* #nav-menu a:hover {
  color: #007bff; 
} */


  /* ------------------------------------------------------------------------------------------------ */
  /* Discover page Styling */
  .discoverMain {
    display: grid;
    grid-template-columns: 400px 1fr;
    grid-template-rows: auto;
    gap: 45px;

  }

  .discoverMessageContainer {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    grid-column: 1/2;
    grid-row: 1/5;
    /* background-color: rgba(8, 65, 8, 0); */
    padding: 2px;
  }


  .discoverMessageContainer1 {
    grid-row: 1/2;
  }

  .discoverMainColumn2 img {
    margin: auto;
    display: block;

  }

  .cent-paragraph_Discover-page {
    font-size: 45px;
  }

  .discoverMain h2 {
    font-size: 35px;
  }

  .discoverMain img {
    transition: opacity 12s; /* Add a smooth transition effect */

  }

  .discoverMain img:hover {
    opacity: 12s; 
    
  } 

  .discoverMain img:hover {
    box-shadow: 0 4px 8px 0 rgba(35, 92, 30, 0.582), 0 6px 20px 0 rgba(0, 0, 0, 0.989);
  }


}