@media screen and (min-width: 800px) and (max-width: 1190px) {

    main {
        grid-template-columns: 400px 1fr;
        gap: 25px;
    }

    #event {
        grid-column: 1/2;
        grid-row: 2/3;
    }


    .homepage-phrase-h3 {
        grid-column: 2/3;
        grid-row: 2/3;
    }


    img.footer-logo {
        height: 250px;
      }
      
      img#logoImage.logo2 {
        height: 100px;
      }

    discoverMessageContainer4 .menu-show,
    .menu-hide,
    .menu-show.showing,
    .menu-hide.showing {
        display: none;
    }

    #nav-menu {
        display: flex;
        /* margin-top:40px; */
    }

    .footer-logo {
        height: 250px;
        padding: 50px;
    }

    footer {
        grid-template-columns: repeat(4, 1fr);
    }
}