html {
    /* background-color: rgb(224, 224, 224); */
    background-color: #3c6363;
}

* {
    box-sizing: border-box;
    margin: 0;

}

header {
    display: grid;
    grid-template-columns: 150px 1fr;
    /* background-color: rgb(2, 2, 93); */
    background-color: rgba(6, 49, 87, 0.699);
    align-items: center;
    box-shadow: 0px 0px 10px 2px white;

}



header img {
    width: 150px;
    padding: 20px;
}

header h1 {
    text-align: left;
    color: white;
    font-size: 60px;

}

.mainTitle {
    font-size: 35px;
        font-family: "Helvetica Neue", Helvetica;
        color: rgba(240, 248, 255, 0.763);
        background-color: #090b0b6f;
}


nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    grid-column: 1/3;
    background-color: black;
    text-transform: uppercase;
}

nav a {
    color: white;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    /* Remove underline from links */
}

nav a:hover {
    /* background-color: white; */
    color: black;
    width: 100%;
}

.nav-button {
    color: #fff;
    /* Set the text color */
    border: none;
    /* Remove the default button border */
    border-radius: 5px;
    /* Add rounded corners */
    cursor: pointer;
    /* Show a pointer cursor on hover */
    margin-right: 0.5em;
    padding: 25px 20px;

}

.nav-button:hover {
    /* background-color: #0056b3; */
    background-color: white; 
    /* Change the background color on hover */
}

ul a:link {
    color: lightblue;
    /* unvisited link is black */
}

ul a:visited {
    color: rgb(224, 236, 240);
    /* visited link is black (reverse the color back to black) */
}

ul li {
    color: rgb(243, 243, 243);
}

#info_container p {
    color: rgb(243, 243, 243);
    padding: 10px;
    font-size: 20px;    
}



main {
    display: grid;
    grid-template-columns: 1fr;
    gap: 30px;
    grid-template-rows: repeat(5, auto);
}

.card {
    border: 1px solid black;
    /* background-color: white; */
    background-color: rgb(51 82 82);

}

.byuiImage {
    width: 100%;
}


.card h3 {

    color: rgb(217 165 165);
    background-color: rgb(0 0 0 / 87%);
    padding: 20px; 
    font-size: 30px;
    text-align: center;
}

.card ul {
    padding: 40px;
}

#info {
    padding: 40px;
}

footer {
    background-color: #000000fb;
    color: white;
    padding: 40px;
    text-align: center;
    margin-top: 50px;
}

footer a {
    color: white;
    text-decoration: none;
    /* Add underline when hovering */
}

#footer-copy-right-name {
    font-variant-caps: all-small-caps;
    font-size: 22px;
}

footer p {
    font-family: Arial, sans-serif;
    font-size: 20px;
    padding: 5px;
}

#activities li {
    list-style-type: none;
    /* Get rid of the bullet point */
    padding: 5px;
    font-size: 25px;    
}


/*  Additional styling */

/*additional Google fonts styles that that are imported*/
@import url('https://fonts.googleapis.com/css2?family=Gloock&family=Lexend+Deca:wght@200&family=Merienda:wght@900&family=Playfair+Display+SC&family=Roboto:wght@100&family=Ultra&display=swap');

/* change the values below to your chosen font(s) */
:root {
    --heading-font: "Lexend";
    --paragraph1-font: "Roboto";
    --paragraph2-font: Noto Sans, Helvetica, sans-serif;
}

p {
    font-family: var(--paragraph2-font);
}

h1 {
    font-family: var(--heading-font);
}

.googlemap {
    width: 100%;
}