/* Large Views */

@media screen and (min-width:1000px) {

    body {
        max-width: 1100px;  
       
        /* was used to center the elements in the body*/
        margin: 0 auto;
    }

    nav  {
        flex-direction: row;

    }

    
    .mainTitle::after {
        content: " - Larger View";
        /* content: '🔸''- Larger View '; */

        color: rgba(240, 248, 255, 0.763);
        /* Pseudo-element added for styling */
    }

    /* .mainTitle::before { */
        /* content: " - Larger View"; */
        /* content: '🔸'; */

        /* color: rgba(240, 248, 255, 0.763); */
        /* Pseudo-element added for styling */
    /* } */

    .hero h2{
        position: absolute;
        top: 0px;
        left: 0px;
        font-size: 2rem;
    }

    main {
        grid-template-columns: auto auto;;   
    }

    /* This image is no longer being used, but keep code for this grid */
    
       /*.byuiImage {
        grid-column: 1/3;
    }
  */

    .templeImage{
        grid-column: 1/5; 
        grid-row: 1/2;
        width: 100%;
    }


    .mainTitle {
        grid-column: 1/3;
        border-top: 1px solid black;
        border-bottom: 1px solid black;
    }
    .googlemap {
        grid-column: 1/3;
    }

    .menu-show, .menu-hide, .menu-show.showing, .menu-hide.showing{
        display: none;
    }   
    
    #nav-menu{
        display: flex;
        margin-top:40px;
    }

    ul li  {
        font-size: 15px;
      }

}

